<h1>Your Team!</h1>

Team Name: <%= @team.team_name %>
Team Motto: <%= @team.team_motto %>

<h2>Hero 1</h2>
Hero Name: <%= SuperHero.all[0].name %>
Hero Power: <%= SuperHero.all[0].power %>
Hero Biography: <%= SuperHero.all[0].biography %>

<h2>Hero 2</h2>
Hero Name: <%= SuperHero.all[1].name %>
Hero Power: <%= SuperHero.all[1].power %>
Hero Biography: <%= SuperHero.all[1].biography %>

<h2>Hero 3</h2>
Hero Name: <%= SuperHero.all[2].name %>
Hero Power: <%= SuperHero.all[2].power %>
Hero Biography: <%= SuperHero.all[2].biography %>