<!DOCTYPE html>
<html>
<head>
	<title>Team</title>
</head>
<body>
<p><%= @team.name %></p>
<p>Team Motto: <%= @team.motto %></p>
<p>Hero Name: <%= @hero1.name %></p>
<p>Hero Power: <%= @hero1.power %></p>
<p>Hero Biography: <%= @hero1.biography %></p>
<p>Hero Name: <%= @hero2.name %></p>
<p>Hero Power: <%= @hero2.power %></p>
<p>Hero Biography: <%= @hero2.biography %></p>
<p>Hero Name: <%= @hero3.name %></p>
<p>Hero Power: <%= @hero3.power %></p>
<p>Hero Biography: <%= @hero3.biography %></p>

</body>
</html>